@media only screen and (max-width: 767px) {
  :root {
    --nav: 64px;
    --display-size: 72px;
    --display-line-height: 72px;
    --heading1-size: 64px;
    --heading1-line-height: 64px:
    --heading2-size: 24px;
    --heading2-line-height: 24px;
    --paragraph-size: 16px;
    --paragraph-line-height: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  :root {
    --nav: 96px;
    --display-size: 96px;
    --display-line-height: 96px;
    --heading1-size: 72px;
    --heading1-line-height: 72px:
    --heading2-size: 32px;
    --heading2-line-height: 32px;
    --paragraph-size: 16px;
    --paragraph-line-height: 24px;
  }
}
@media only screen and (min-width: 992px) {
  :root {
    --nav: 128px;
    --display-size: 128px;
    --display-line-height: 128px;
    --heading1-size: 96px;
    --heading1-line-height: 96px:
    --heading2-size: 64px;
    --heading2-line-height: 64px;
    --paragraph-size: 16px;
    --paragraph-line-height: 24px;
  }
}
.hero {
  text-align: center;
  margin-top: 128px;
  padding-left: 12px;
  padding-right: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.hero .profile-container {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
.hero .profile-container .profile {
  width: 267px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  padding-right: 24px;
}
.hero .profile-container .profile p {
  margin-top: 0;
}
.hero h1 {
  color: #FFFFFF;
  font-size: var(--display-size);
  line-height: var(--display-line-height);
  font-weight: 400;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.hero p {
  color: #BEBEBE;
  font-size: var(--paragraph-size);
  line-height: var(--paragraph-line-height);
  font-weight: 400;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
}
.hero .social-container {
  display: flex;
  justify-content: center;
}
.hero .social-container .social {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  width: 312px;
}
.hero .social-container .social a {
  margin: 0;
  padding: 0;
}
.hero .button a {
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  padding: 16px 32px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  transition: font-size 0.3s ease;
}
.hero .button a:hover {
  font-size: 20px;
}

.works {
  margin-top: 128px;
  padding-left: 12px;
  padding-right: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.works h2 {
  color: #FFFFFF;
  font-size: var(--heading1-size);
  line-height: var(--heading1-line-height);
  font-weight: 400;
  margin: 0;
}
.works p {
  color: #BEBEBE;
  margin: 0;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.works .card {
  display: flex;
  overflow: scroll;
}
.works .card img {
  animation: scroll 20s linear infinite;
  z-index: -1;
}
.works .button a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 16px 64px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
