* {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: $darker;
}

nav {
    margin: 0;
    padding: 32px;
    background-color: $darkwhite;
    border-radius: 0 0 44px 44px;
    ul {
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            list-style: none;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                span {
                    color: $light;
                    padding: 16px;
                    border-radius: 100px;
                }
                span:hover {
                    color: $darkwhite;
                    background-color: $primary;
                }
                span.active {
                    color: $darkwhite;
                    background-color: $primary;
                }
            }
        }
    }
}

.hero {
    padding: 32px;
    .button {
        a {
            padding: 24px 32px;
            background-color: $primary;
            color: $darkwhite;
            border-radius: 100px;
            text-decoration: none;
        }
    }
}

.calculator {
    margin-top: 32px;
    padding: 32px;
    border-radius: 50px;
    background-color: $darkwhite;
    .input {
        display: flex;
        justify-content: center;
        border-bottom: 1px dotted $light;
        input {
            padding: 32px;
            background-color: $darkwhite;
            border: none;
            font-size: 32px;
            color: $light;
        }
    }
    .button {
        .button-number {
            display: flex;
            width: 100%;
            button {
                width: 25%;
                height: 100px;
                background-color: $darkwhite;
                border: none;
                color: $light;
            }
            button:hover {
                background-color: white; color: black; border: 1px solid #171717; border-radius: 100px;
            }
        }
    }
}

.footer {
    height: fit-content;
    border-top: 1px dotted $light;
    border-bottom: 1px dotted $light;
    border-left: 1px dotted $light;
    border-right: 1px dotted $light;
    border-radius: 50px;
    background-color: $light;
    margin-top: 32px;
    margin-bottom: 32px;
    .nav {
        margin-top: 44px;
        .nav-content {
            display: flex;
            justify-content: center;
            list-style: none;
            img {
                border: 1px dotted $darkwhite;
            }
            a {
                border: 1px dotted $darkwhite;
                color: $darkwhite;
                padding: 12px;
                border-radius: 100px;
                text-decoration: none;
            }
        }
    }
    .image {
        display: flex;
        justify-content: center;
        margin-top: 32px;

    }
    .button {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        list-style: none;
        a {
            border: 1px dotted $darkwhite;
            color: $darkwhite;
            padding: 12px;
            border-radius: 100px;
        }
    }
    .name {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 32px;
        .display {
            color: $darkwhite;
        }
    }
}