* {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: $darker;
}

nav {
    margin: 0;
    padding: 32px;
    background-color: $darkwhite;
    border-radius: 0 0 44px 44px;
    ul {
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            list-style: none;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                span {
                    color: $light;
                    padding: 16px;
                    border-radius: 100px;
                }
                span:hover {
                    color: $darkwhite;
                    background-color: $primary;
                }
                span.active {
                    color: $darkwhite;
                    background-color: $primary;
                }
            }
        }
    }
}

.hero {
    padding: 32px;
    .button {
        a {
            padding: 24px 32px;
            background-color: $primary;
            color: $darkwhite;
            border-radius: 100px;
            text-decoration: none;
        }
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    .button {
        display: flex;
        justify-content: center;
        button {
            padding: 16px 24px;
            border: 1px dotted $light;
            border-radius: 100px;
        }
    }
    button {
        border: none;
        background-color: transparent;
    }
}

table {
    padding: 32px;
    background-color: $darkwhite;
    width: 100%;
    border-radius: 44px;
    thead {
        tr {
            th {
                padding-top: 24px;
                padding-bottom: 24px;
                padding-left: auto;
                padding-right: auto;
                border-bottom: 1px dotted $primary;
            }
        }
    }
    tbody {
        tr {
            td {
                padding-top: 24px;
                padding-bottom: 24px;
                padding-left: auto;
                padding-right: auto;
                text-align: center;
                transition: background-color 3s color 3s;
            }
            td.active {
                background-color: $primary;
                color: $darker;
                border-radius: 100px;
            }
            td:hover {
                background-color: $primary;
                color: $darker;
                border-radius: 100px;
            }
        }
    }
}

.footer {
    height: fit-content;
    border-top: 1px dotted $light;
    border-bottom: 1px dotted $light;
    border-left: 1px dotted $light;
    border-right: 1px dotted $light;
    border-radius: 50px;
    background-color: $light;
    margin-top: 32px;
    margin-bottom: 32px;
    .nav {
        margin-top: 44px;
        .nav-content {
            display: flex;
            justify-content: center;
            list-style: none;
            img {
                border: 1px dotted $darkwhite;
            }
            a {
                border: 1px dotted $darkwhite;
                color: $darkwhite;
                padding: 12px;
                border-radius: 100px;
                text-decoration: none;
            }
        }
    }
    .image {
        display: flex;
        justify-content: center;
        margin-top: 32px;

    }
    .button {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        list-style: none;
        a {
            border: 1px dotted $darkwhite;
            color: $darkwhite;
            padding: 12px;
            border-radius: 100px;
        }
    }
    .name {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 32px;
        .display {
            color: $darkwhite;
        }
    }
}