* {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: $darker;
}

nav {
    margin: 0;
    padding: 32px;
    background-color: $darkwhite;
    border-radius: 0 0 44px 44px;
    ul {
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            list-style: none;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                span {
                    color: $light;
                    padding: 16px;
                    border-radius: 100px;
                }
                span:hover {
                    color: $light;
                    background-color: $primary;
                }
                span.active {
                    color: $light;
                    background-color: $primary;
                }
            }
        }
    }
}

.hero {
    padding: 32px;
    .button {
        a {
            padding: 24px 32px;
            background-color: $primary;
            border-radius: 100px;
            text-decoration: none;
        }
    }
}

table {
    padding: 32px;
    background-color: $darkwhite;
    width: 100%;
    border-radius: 44px;
    thead {
        tr {
            th {
                padding-top: 24px;
                padding-bottom: 24px;
                padding-left: auto;
                padding-right: auto;
                border-bottom: 1px dotted $primary;
            }
        }
    }
    tbody {
        tr {
            td {
                padding-top: 24px;
                padding-bottom: 24px;
                padding-left: auto;
                padding-right: auto;
                text-align: center;
            }
            td.active {
                background-color: $primary;
                border-radius: 100px;
            }
        }
    }
}


.navigation {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    .button {
        display: flex;
        justify-content: center;
        button {
            padding: 16px 24px;
            border: 1px dotted $light;
            border-radius: 100px;
        }
    }
    button {
        border: none;
        background-color: transparent;
    }
}

.footer {
    height: fit-content;
    padding: 32px;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .left {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 16px;
            li {
                list-style: none;
                margin-bottom: 16px;
                a {
                    padding: 6px 12px;
                    border: 1px dotted $light;
                    border-radius: 100px;
                    text-decoration: none;
                }
            }
        }
        .center {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 16px;
            li {
                list-style: none;
                margin-bottom: 16px;
                a {
                    padding: 6px 12px;
                    border: 1px dotted $light;
                    border-radius: 100px;
                    text-decoration: none;
                }
            }
        }
        .right {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 16px;
            li {
                list-style: none;
                margin-bottom: 16px;
                a {
                    padding: 6px 12px;
                    border: 1px dotted $light;
                    border-radius: 100px;
                    text-decoration: none;
                }
            }
        }
    }
    .image {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }
    .button {
        margin-bottom: 16px;
        li {
            display: flex;
            justify-content: center;
            a {
                padding: 6px 12px;
                border: 1px dotted $light;
                border-radius: 100px;
            }
        }
    }
    .name {
        display: flex;
        justify-content: center;
        border-bottom: 1px dotted $light;
    }
}